<i class="fa fa-american-sign-language-interpreting"></i>
<h1>Olá Mundo</h1>
<li class="col-md-3 logout"><%= link_to('Logout', destroy_user_session_path, 
    class: 'btn btn-xs btn-danger', title: 'Logout', :method => :delete) %></li>
